[2017-11-29 17:55] owainlewis opened #2 "Support pagination"
As far as I am aware the existing SDK does not support pagination (at the user request level) and only exposes it in responses.

[2017-11-30 11:56] owainlewis opened #4 "Cross platform support for getHomeFolder()"
Support for Windows would be broken by https://github.com/oracle/oci-go-sdk/blob/master/common/client.go#L105

[2017-11-30 11:58] owainlewis opened #5 "Go lint errors from generated code"
There are a few places where generated code that is exposed to the user would break go lint tooling checks.

Example ```common.REGION_PHX```

[2017-11-30 11:59] owainlewis opened #6 "Inconsistency with identifiers"
The generated code results in a few inconsistencies that break Go code conventions. We use ID/Id and IP/Ip throughout the project mainly due to the Swagger generation I think. These should be consistent (eg. ID and IP).

[2017-11-30 18:14] eginez opened #7 "Unit test in common should not assume default config"
Some test in client_test.go use the NewClientForRegion function. Such function assumes a default config that may or may not be present.

[2017-11-30 22:27] jhorwit2 opened #8 "Support custom loggers"
Many projects using this SDK will have their own logger whether that's glog, logrus or whatever. Consumers should have the ability to use whatever logger they wish for client logs given it meets the required interface of the SDK.

[2017-11-30 22:31] jhorwit2 opened #9 "Primitives should not be pointers"
It'd be nice to remove the requirement on pointers for everything. It becomes very burdensome on consumers of the SDK when they're unable to easily create objects and are required to work around pointers. It also significantly decreases the readability code using the SDK.

 For example lets take the following struct (some fields have been removed).
[code]

The idiomatic way to create an object for

[2017-11-30 22:37] jhorwit2 opened #10 "Clients should implement interfaces"
Currently the various clients are all structs, which means they are not easily testable. This is going to require consumers of the SDK to implement their own interfaces on top of the SDK so that the clients can be mocked. This was a common pattern with consumers of the original SDK.

[2017-11-30 22:41] jhorwit2 opened #11 "The client should support custom HTTP timeouts"
Currently the http timeout is set to 30s which is very long for some clients to block. This should be configurable.

[2017-12-01 00:45] eginez opened #12 "Convert pointers to slices or maps to slices or maps"

[2017-12-07 23:33] #12 closed, assigned to nobody

[2017-12-12 08:38] brunoborges opened #18 "Add Travis or Wercker build file"

[2017-12-13 17:39] #4 closed, assigned to nobody

[2017-12-20 14:13] garthy opened #21 "PutObject and GetObject should accept a Reader/Writer"
Having to store the data you wish to upload/download in memory is undesirable and streaming is preferable.

Put Object might look like this

[code]
And  GetObject like this
[code]

[2017-12-20 21:48] #9 closed, assigned to nobody

[2017-12-21 20:17] #21 closed, assigned to nobody

[2017-12-29 02:51] jhorwit2 opened #23 "Polymorphic JSON support made some objects extremely difficult to use"
Example difference:

https://github.com/oracle/oci-go-sdk/blob/8517d32fc026dcea833402f8891b08e0ca71e8fb/core/attach_volume_details.go#L16-L25

compared to

https://github.com/oracle/oci-go-sdk/blob/84049ed12b4804533be005a40140bf02f138574b/core/create_volume_details.go#L15-L36

The Interface approach makes this largely unusable w/o copy/paste of core private objects since you have to implement your

[2017-12-29 03:23] jhorwit2 opened #24 "Provide more examples of how to use the SDK and its features."
It'd be nice if this SDK provided examples like the [java sdk](https://github.com/oracle/oci-java-sdk/tree/master/bmc-examples). Especially around the polymorphic types.

[2018-01-11 17:23] #6 closed, assigned to nobody

[2018-01-23 01:34] #18 closed, assigned to nobody

[2018-01-23 01:35] #23 closed, assigned to nobody

[2018-01-23 01:40] #5 closed, assigned to nobody

[2018-01-24 13:53] owainlewis opened #42 "Support for definedTags and freeFormTags"
We require support for tagging volumes (and other resources).

Update generated code to support `definedTags` and `freeFormTags` where appropriate.

https://docs.us-phoenix-1.oraclecloud.com/api/#/en/iaas/20160918/requests/CreateVolumeDetails

https://docs.us-phoenix-1.oraclecloud.com/Content/General/Concepts/resourcetags.htm

[2018-01-24 14:31] owainlewis opened #43 "Support for service principles as a mechanism for authentication"
A project we work on requires support for service principles as a mechanism for authentication.

Is this something that will be added to the Go SDK in the near future?

[2018-01-26 15:32] owainlewis opened #46 "Implement rawConfigurationProvider"
We often need to instantiate a client from raw byte arrays (i.e pulling configuration from a custom structure rather than a static file).

This change would implement a rawConfigurationProvider that would allow a user to instantiate a client configuration from raw values.

[2018-01-29 01:22] jhorwit2 opened #48 "non-idiomatic go variables on structs that end with ID"
One of the [recent lint cleanup commits](https://github.com/oracle/oci-go-sdk/commit/64c834667b266e7055478ab2611e6b8de0495ecd) fixed a lot but also changed some idiomatic variables to non-idiomatic. All fields ending in `ID` got replaced with `Id`.

[2018-01-29 01:28] jhorwit2 opened #49 "can't unmarshal response into core.VolumeAttachment"
[code]
is returning the following error:

`json: cannot unmarshal object into Go value of type core.VolumeAttachment`

My client is latest master.

[2018-01-29 17:38] #48 closed, assigned to nobody

[2018-01-30 01:52] jhorwit2 opened #52 "Add support for Public IPs API"
https://docs.us-phoenix-1.oraclecloud.com/api/#/en/iaas/20160918/PublicIp/

[2018-01-30 01:54] jhorwit2 opened #53 "Add support for new path based routing for load balancers"
https://docs.us-phoenix-1.oraclecloud.com/Content/Balance/Tasks/managingrequest.htm

[2018-01-30 17:24] #46 closed, assigned to owainlewis

[2018-01-31 13:38] owainlewis opened #54 "Unable to unmarshall VolumeAttachment"
It appears there might be a bug in the unmarshalling of VolumeAttachments.

### Steps to reproduce

[code]

### Expected
VolumeAttachment unmarshalled

### Actual

`Request failed json: cannot unmarshal object into Go value of type core.VolumeAttachment`

[2018-01-31 17:27] #54 closed, assigned to nobody

[2018-02-01 13:16] garthy opened #56 "Loadbalancer API is unusable."
The load balancer operations should all return the opc-work-request-id.
Currently they return nothing.

The response structures exists just they are not used.

`func (client LoadBalancerClient) CreateLoadBalancer(ctx context.Context, request CreateLoadBalancerRequest, options ...common.RetryPolicyOption) (err error)`

should be

`func (client LoadBalancerClient) CreateLoadBalancer(ctx context.Cont

[2018-02-01 22:45] #49 closed, assigned to nobody

[2018-02-02 17:53] #56 closed, assigned to nobody

[2018-02-02 22:57] jasonyin opened #58 "optional enum in request got pass to server which result in 400 error"
for the optional enum, go sdk will pass value = null to server which causing 400 error return from server. we need to remove optional enum from request

[2018-02-05 22:59] #58 closed, assigned to nobody

[2018-02-07 00:46] vshiva opened #64 "Object Store Upload Part API Does not return etag."
I'm trying to do a multipart upload of a huge object to object store using the sdk.

The UploadPart in objectstoreage_client.go ignores the etag value that is returned. This value is needed later to commit the upload. With out the etag of the part it is not possible to use multipart upload feature and go-sdk.

Here is the Upload Method.
[code]

[2018-02-07 01:34] #64 closed, assigned to nobody

[2018-02-08 11:05] owainlewis opened #68 "Default HTTP transport is wiped meaning proxy is not picked up from environment"
We require a mechanism for setting a HTTP(s) proxy via environment variables. The SDK wipes the http transport to an empty struct which does not support setting http proxy via environment variables.

[code]

[2018-02-12 13:23] #68 closed, assigned to owainlewis

[2018-02-12 18:20] #24 closed, assigned to jasonyin

[2018-02-14 08:04] #43 closed, assigned to eginez, jodoglevy

[2018-02-20 02:25] drewwells opened #84 "Host value should be read from request.Host instead of request.URL.Host"
The request.URL.Host may not be populated in cases where the HTTP call looks something like this:

[code]

I found this to be the case when using code like `http.NewRequest("GET", "http://localhost:7000/api", nil)` and passing the request to the signing logic in oci-go-sdk. I would get a signature value of `date: Mon, 19 Feb 2018 20:20:07 CST\n(request-target): get /api\nhost:`

Reference: https:/

[2018-02-20 17:48] jhorwit2 opened #86 "Composing configuration provider panics / isnt usable"
it seems that if there is an incorrect config provider first it panics every time. If i put `p2` first then it'll work. If `p4` or `p1` are first then it panics.

[code]

[code]

[2018-02-21 20:36] #84 closed, assigned to nobody

[2018-02-22 06:11] #2 closed, assigned to nobody

[2018-03-01 01:44] junyioracle opened #95 "Dynamic group support"
Need to support

retrieve/create/update/delete dynamic group

which was already supported in java-sdk

[2018-03-05 14:11] jhorwit2 opened #97 "Some generated file names are incorrect"
This isn't causing any problems / is low priority but i noticed some generated names are incorrect like `core/update_i_p_sec_connection_request_response.go`:`i_p` should be `ip`.

[2018-03-05 14:11] jhorwit2 commented on #42
@jasonyin now that the client is GA could that branch be merged to master?

[2018-03-05 19:08] eginez commented on #86
@jhorwit2 I am having a bit of trouble replicating this issue. Quick q, if you were to run `common.IsConfigurationProviderValid(provider)` does it panic?

[2018-03-05 19:51] jodoglevy commented on #42
@jhorwit2 we still want to do some more testing of this before merging it into the GA SDK. Goal is still to have this in by end of March. If you need it early, can you consume it from the other branch for now?

[2018-03-09 00:37] eginez commented on #86
Hi @jhorwit2 I found a fix for this issue and it will be released on the next release cycle, something to note is that you should probably be checking for errors when createing p1, and p2. For example if the env variable "OCI_CONFIG_FILE" is not set it will return the empty string. The `ConfigurationProviderFromFile` returns an error on empty strings and a nil provider.

[2018-03-16 15:21] jhorwit2 opened #100 "Add support for local metadata"
It'd be nice if we exposed a way to call the local metadata service since we use this across most of the go projects I'm aware of that use the go client.

[2018-03-19 05:15] jodoglevy commented on #100
Thanks @jhorwit2, we'll consider adding this. The local metadata service is an unauthenticated endpoint I think, so it should be pretty easy to make requests to even without first class support in the Go SDK.

[2018-03-19 13:21] jhorwit2 commented on #86
@eginez Ideally, the composing configuration provider should only error if none succeeded. In my experience, this is typically the case for clients that do similar logic. For example, the kubernetes client does this. It checks for config sources based on precedence then only errors if none succeed. I don't see much value in using the composing config provider if i need to check for each one explic

[2018-03-27 22:51] jasonyin commented on #95
added in V1.1.0 release https://github.com/oracle/oci-go-sdk/releases/tag/v1.1.0

[2018-03-27 22:51] #95 closed

[2018-03-27 22:51] jasonyin commented on #53
added in V1.1.0 release https://github.com/oracle/oci-go-sdk/releases/tag/v1.1.0

[2018-03-27 22:51] #53 closed

[2018-03-27 22:52] jasonyin commented on #52
added in V1.1.0 release https://github.com/oracle/oci-go-sdk/releases/tag/v1.1.0

[2018-03-27 22:52] #52 closed

[2018-03-27 22:53] jasonyin commented on #42
we have tagging for core and identity service in release V1.1.0 https://github.com/oracle/oci-go-sdk/releases/tag/v1.1.0 and will update for other services in coming releases.

[2018-03-27 22:58] eginez commented on #86
That is correct, the ComposingConfiguration provider only fails if none of its parts succeed, however it expects that all of its parts to be non nil at creation time

[2018-03-27 22:58] #86 closed

[2018-04-05 22:55] jasonyin commented on #42
closing this issue. V1.2.0 release has the last missing tagging resources (object storage).

[2018-04-05 22:55] #42 closed

[2018-04-06 23:30] gcstang opened #105 "Multipart Upload Issue(s)"
go version 1.10.1
latest version of oci-go-sdk
Original File size: 368M
Split at 100MB then tried at 20MB
Original Error: net/http: request canceled (Client.Timeout exceeded while awaiting headers)
I modified the file: common.client and changed timeout from 30 to 60 seconds.
First error went away now I have a second error:

net/http: HTTP/1.x transport connection broken: http: ContentLength=104857

[2018-04-07 21:47] gcstang commented on #64
@vshiva did you get multipart to work?
I ran into an issue and was wondering if you got past this or have an idea why it might be happening.
#105

[2018-04-09 05:14] gcstang commented on #105
yes it's for upload part api.

put object worked correctly.

On Sun, Apr 8, 2018, 23:20 Jason Yin <notifications@github.com> wrote:

[2018-04-09 05:14] gcstang commented on #105
no proxy

On Sun, Apr 8, 2018, 23:20 Jason Yin <notifications@github.com> wrote:

[2018-04-09 17:46] jasonyin commented on #105
For your first timeout error, you can either change the clientTimeout, but for larger object or unreliable network which takes un-predictable time to upload (wait for responseHeader come back). You could also set the http.Transport.ResponseHeaderTimeout to 0.

BTW, for "latest version of oci-go-sdk", were you referring to V1.2.0?

Looks like you are not using the default httpClient or http.Transpo

[2018-04-09 18:09] gcstang commented on #105
I'm using the Latest version of Master and whatever httpClient is built into the code pkgs
"github.com/oracle/oci-go-sdk/common"
"github.com/oracle/oci-go-sdk/example/helpers"
"github.com/oracle/oci-go-sdk/objectstorage"

[2018-04-09 19:00] jasonyin commented on #105
I need more information to debug the issue, especially how you split the file into multi-parts. Sharing the code would be helpful, however, with limited information here, I noticed that the http.ContentLength is different than the body length which will cause golang http transport through error. Could be an bug around 'UploadPartBody' for UploadPartRequest. I would try to set it as
[code]

net/htt

[2018-04-09 20:57] gcstang commented on #105
@jasonyin I'll put something together and  add it to the ticket but this is part of a larger application so it will take me a little while.

Not sure this small part will help, otherwise I'll work on the attachment.

`func (o *ObjStore) UploadPart(bucketName, objectName, uploadId string, partNo, contentLength int, content io.ReadCloser) *string {
	namespace := o.GetNamespace()
	request := objectst

[2018-04-09 22:12] jasonyin commented on #105
Thanks for sharing the info!

There are two key input parameters here, contentLength and content (in your sample code):

1. The contentLength is the length of the part you are uploading (100M or 20M in your error trace) which is correct;

2. Body length (shows in the error trace) is 368M fixed which looks wrong to me, it should be same as the part size you are uploading (i.e. 20M or 100M depends o

[2018-04-09 22:57] gcstang commented on #105
I found the issue with this particular piece but I'm now looking into the CommitMultipartUpload and UploadPart I'm getting an error:
`
time="2018-04-09T17:48:49-05:00" level=debug msg="Starting Upload: tmp/tmp_1 Size: 20971520"
time="2018-04-09T17:48:56-05:00" level=debug msg="Etag: 6972A5FD95547EAFE0530292F20ABF0A"
time="2018-04-09T17:49:07-05:00" level=debug msg="Starting Upload: tmp/tmp_2 Size:

[2018-04-09 23:24] #105 closed

[2018-04-10 15:57] jasonyin commented on #105
glad you got the issue resolved, could you pls share the root cause for the issue? is it because the upload part stream you were using was entire file not the split part?

[2018-04-10 16:33] gcstang commented on #105
@jasonyin yes I had a typo in there (wrong var)

[2018-04-10 22:15] vshiva commented on #64
Yeah. I'm able to get it to work with the latest/being on the master.

[2018-05-01 09:13] prydie opened #108 "Issues with building Packer on the Windows platform due to number of files in oci-go-sdk/core package and limitation of golang's compile on windows"
Our merge of the OCI Go SDK into Packer has broken builds under certain circumstances in Windows.

We should reduce the number of generated files in the core package to resolve.

See: https://github.com/hashicorp/packer/issues/6220

[2018-05-01 09:14] prydie commented on #108
/cc @eginez

[2018-05-01 16:26] jasonyin commented on #108
thanks for reporting the issue. Is it an error for large number of files in core package or is it the length of the absolute path is too long?

[2018-05-01 17:58] eginez commented on #108
@prydie How do we reproduce this issue? Can we get access to the log with the build failures?

[2018-05-02 00:47] eginez commented on #108
I was able to verify both our sdk and packer builds on windows if the GOPATH is not too big (< 100 chars). Thus any customer that needs to build package will have to be aware of such limitation on windows. Further the right fix should be at the compiler level, there is not much we can do in the sdk that will fix this, given that in the future we are planning new files to different packages. Though

[2018-05-03 17:01] #108 closed

[2018-05-03 20:53] jasonyin commented on #108
will update the document about this known issue in next release.

[2018-06-12 10:15] MadalinaPatrichi opened #112 "In the case of attaching an already attached volume, how do I get the http status code?"
We have recently ungraded out oci-go-sdk version from 1.0.0 to 1.5.0 and in the process I've noticed that in the case where I'm trying to attach a volume twice, the error comes back, however, the response is nil. What is the recommended way of extracting the http status code in this case? Has the API changed when it comes to this?

[2018-06-12 14:11] mixaal opened #113 "Please add a way how to launch multiple instances at a time."
Hi,

Could you please add a way how to launch multiple instances at a time. The synopsis would be similar to the `LaunchInstance()` method, but it would take an additional parameter `NumberOfInstances`. E.g.:

[code]

The advantage can be in fact that spawning multiple uniform instances on the backend might be faster rather than calling multiple parallel single `LaunchInstance()` requests in multi

[2018-06-12 18:19] jasonyin commented on #113
Were you asking an new API to lunch multiple instance at once?
If yes, this would be an ask to the service team, not SDK. I can help to redirect this request to our service team

[2018-06-12 18:23] jasonyin commented on #112
The API return two structs, one is response, the other one is err. Would the err works for you?

func (client ComputeClient) AttachVolume(ctx context.Context, request AttachVolumeRequest) (response AttachVolumeResponse, **err error**)

[2018-06-13 06:55] MadalinaPatrichi commented on #112
The status code of the request is not easily extracted from the error. This used to be available in the response, but it seems like there was an API change. Is this documented anywhere to explain  why this has happened and how are we supposed to

[2018-06-13 10:46] mixaal commented on #113
Please redirect the request to the right folks. I assume when oci service supports multiple instance lunch from one request there's still a need to enhance the SDK to support it.

[2018-06-14 22:19] jasonyin commented on #112
@MadalinaPatrichi , please let us know if you are still having the issue or not, otherwise, we are going to close it, thanks!

[2018-06-20 17:49] jasonyin commented on #112
@MadalinaPatrichi I am closing this issue, please let us know if you still have questions, thanks!

[2018-06-20 17:49] #112 closed

[2018-07-04 09:56] waynz0r opened #116 "createKubeconfig function should not close http reponse body"
Hi,

the defer common.CloseBodyIfValid(httpResponse) call in the containerengine.createKubeconfig function closes the http body which makes impossible to get the content of it.

Thanks!

[2018-07-05 17:13] jasonyin commented on #116
thanks for reporting this issue and submit the PR, I am looking at the PR now.

[2018-07-06 18:45] jhorwit2 opened #118 "Add support for tagging load balancers"
https://docs.cloud.oracle.com/iaas/releasenotes/changes/9ced7d70-005a-4aa1-a47a-213dd8d2dcad/

[2018-07-06 23:36] jodoglevy commented on #118
This is currently planned for our next milestone and should be released shortly. Thanks for reporting.

[2018-07-12 08:47] bonifaido commented on #116
Hi @jasonyin, just a question, will be the new SDK released today?

[2018-07-12 20:30] jasonyin commented on #118
released in https://github.com/oracle/oci-go-sdk/releases/tag/v2.0.0

[2018-07-12 20:30] #118 closed

[2018-07-12 20:30] jasonyin commented on #116
fixed in https://github.com/oracle/oci-go-sdk/releases/tag/v2.0.0

[2018-07-12 20:30] #116 closed

[2018-07-16 14:58] jhorwit2 opened #120 "OCI error is missing opc-request-id value"
Responses from OCI include an ID that's extremely valuable when debugging failed requests, which is set on the response header opc-request-id. The error returned from the go sdk should include that which matches how other sdks, like the [java one](https://github.com/oracle/oci-java-sdk/blob/master/bmc-common/src/main/java/com/oracle/bmc/model/BmcException.java#L40), exposes errors.

[2018-07-16 19:51] jasonyin commented on #120
hi @jhorwit2, thanks for reporting this issue. The opc-request-id is defined in most response structs (if defined by the spec), are you referring to the case of service failure, add this id to the error?

[2018-07-19 19:02] jhorwit2 commented on #120
Yes @jasonyin

[2018-07-19 19:03] jhorwit2 commented on #120
Currently, if a request fails the response struct will be nil and the error struct won't have the value. This results in us being unable to provide support with the information they need to investigate api errors/bugs.

[2018-07-20 16:39] jhorwit2 commented on #120
@jasonyin i have a fork with this functionality since i need it for an SR. If you want I can open up a PR?

[2018-07-26 22:49] jasonyin commented on #120
this is been fixed in v2.1.0 https://github.com/oracle/oci-go-sdk/releases/tag/v2.1.0
the common.ServiceError now have a method GetOpcRequestID()

[2018-07-26 22:49] #120 closed

[2018-07-26 22:52] jhorwit2 commented on #120
@jasonyin that code looks potentially like it can panic. You're checking if `ociResponse` isn't nil on error then assuming in `newServiceFailureFromResponse` that it's always not nil.

[2018-07-26 22:56] jhorwit2 commented on #120
Actually, it would panic if the operation failed prior to initiating the request. For example, if the http request isn't valid, then ociResponse would be nil.

https://github.com/oracle/oci-go-sdk/blob/master/core/core_compute_client.go#L682-L700

Or if the pre-request steps of the common base client error out.

https://github.com/oracle/oci-go-sdk/blob/master/common/client.go#L265-L280

[2018-07-26 23:05] jhorwit2 commented on #120
Nvm.

[2018-08-06 17:24] #7 closed, assigned to nobody

[2018-08-06 17:25] eginez commented on #113
Nothing to do in the sdk side for this concern

[2018-08-06 17:25] #113 closed

[2018-08-08 16:49] jhorwit2 commented on #100
https://github.com/oracle/oci-flexvolume-driver/tree/master/pkg/oci/instancemeta
https://github.com/oracle/oci-volume-provisioner/tree/master/pkg/oci/instancemeta
https://github.com/oracle/oci-cloud-controller-manager/tree/master/pkg/oci/instancemeta

Are all projects that currently re-implement this call (with more internal).

[2018-08-16 21:12] gcstang opened #123 "Object Store ListObjects nil for Size, MD5 and Created"
go version go1.10.3 darwin/amd64
oci-go-sdk 2.2.0

Hello it seems as though these values don't come through using the oci-go-sdk vs. the oci command?

oci os object list -bn <bucketname> --namespace <namespace>

[2018-08-16 21:25] jodoglevy commented on #123
Hi,

From the [Go SDK API Reference](https://godoc.org/github.com/oracle/oci-go-sdk/objectstorage#ListObjectsRequest) for this request:

[code]

So if you set this field to "name,size,md5,timeCreated" you'll get back these fields.

[2018-08-16 21:25] #123 closed

[2018-08-16 21:37] gcstang commented on #123
Thank you!

[2018-08-24 21:10] schmidtp0740 opened #125 "Implementation example of SourceDetails in LaunchInstanceDetails"
refer to https://stackoverflow.com/questions/52011758/example-of-launchinstance-with-instancesourcedetails-interface

looking for an example of an implementation of an interface for SourceDetails in laynchInstanceDetails.

[2018-08-24 21:58] schmidtp0740 commented on #125
nvm i figured out how to do it by the following. Maybe it would be best to update the docs in the example to show this
[code]

[2018-09-12 17:40] gcstang opened #128 "How to find Block Volume from SDK on host"
If I have an iSCSI Block Volume attached to a host how can I find the proper Block Volume?

Infrastructure:
1. Create compute instance
2. Add block volume(BV) to it via iSCSI
3. Run Attach commands, etc.. to mount BV to the compute instance.

Find Block Volume on Host using SDK
1. Determine the host we're on by finding the hostname
2. ListInstances and filter by hostname, pull instanceId
3. ListVo

[2018-09-16 03:17] fullymad commented on #128
Being new to OCI (and OCI SDK), I may not have understood your problem fully, but I am able to get the volume ID of attached volumes by providing the compartment ID and instance ID in the ListVolumeAttachments request. Here is the client code (with IDs hard-coded for simplicity). I did the same steps to attach and mount BV before calling the API.

package main

import (
	"context"
	"github.com/ora

[2018-09-16 06:17] gcstang commented on #128
@fullymad I can get them that way but I'm attempting to work back from the system to the unique id of a mounted block volume.

i.e.
I have the instance hostname so I can list my instances and find it in the list.
I can then list the attachments on that instance which gives me the volumes.
However there is nothing to figure out which mount on the system maps to the specific block volume.

The only

[2018-09-17 02:45] fullymad commented on #128
@gcstang Thanks for the clarification. You say "However there is nothing to figure out which mount on the system maps to the specific block volume". If I understand correctly that the idea is to get the block volume ID for a given mount point, I can think of a potential way (may not be the recommended way though!!).

1. Running the command "oci-iscsi-config -s" lists all the attached iSCSI devices

[2018-09-17 15:04] gcstang commented on #128
@fullymad that works!

Thank you for your help.

[2018-09-18 16:31] drewwells opened #129 "Expose configuration options for instance principals"
It is generally not possible to write external unit tests against the instance principal code in `common/auth`. The code has been hard coded to the opc metadata endpoint [http://169.254.169.254](https://github.com/oracle/oci-go-sdk/blob/master/common/auth/instance_principal_key_provider.go#L12-L20) and there's public configuration exposed to override this endpoint for different URLs or mechanisms:

[2018-09-27 21:43] jasonyin commented on #128
I am closing this issue.

[2018-09-27 21:43] #128 closed

[2018-10-05 19:10] jhorwit2 opened #132 "the signing algorithm does not lower case the header fields"
https://tools.ietf.org/html/draft-cavage-http-signatures-10#section-2.3

https://github.com/oracle/oci-go-sdk/blob/master/common/http_signer.go#L108-L130

This can causes signatures to fail verification between client and server. `part` in the code above should be passed through `strings.ToLower`

[2018-10-08 23:49] skinowski opened #133 "retry context should be cancelable during blocked sleep"
In case of context cancel, the sleep operation here:

https://github.com/oracle/oci-go-sdk/blob/master/common/retry.go#L131

should instead use a select waiting on both time.After() and ctx.Done().

[2018-10-10 17:14] jasonyin commented on #132
@jhorwit2 thanks for reporting the issue. Did you see any request sign failures for this case?

[2018-10-10 17:14] jasonyin commented on #132
if yes, could you pls send me a opc-request-id, thanks!

[2018-10-13 15:51] anilarora opened #134 "rawConfigurationProvider does not work with compositeConfigurationProvider"
Noticed this issue when trying to use the rawConfigurationProvider with the compositeConfigurationProvider.  The compositeConfigurationProvider checks if an error is returned from the delegate configuration provider.  However, the rawConfigurationProvider does not return an error if the value is an empty string or nil.  So, if the rawConfigurationProvider is used at the beginning of the slice, it'

[2018-10-16 17:14] eginez commented on #134
@anilarora Thanks for reporting this issue. A fix for it will be available in our next release

[2018-10-16 17:15] eginez commented on #133
@skinowski thanks for reporting this issue.

[2018-10-17 17:04] jasonyin commented on #125
hi @schmidtp0740 thanks for reporting this, glad to see you figured it out. This is related with 'Polymorphic Json' which we have a samilar example here https://github.com/oracle/oci-go-sdk/blob/master/example/example_core_test.go#L114

[2018-10-18 19:41] jasonyin commented on #134
This has been fixed in v2.7.0, pls let us know if you still seeing the issue.

[2018-10-18 19:41] #134 closed

[2018-10-18 19:41] jasonyin commented on #132
This has been fixed in v2.7.0, pls let us know if you still seeing the issue.

[2018-10-18 19:41] #132 closed

[2018-10-18 19:42] jasonyin commented on #125
I am closing this issue, pls let us know if you still need further support, thanks!

[2018-10-18 19:42] #125 closed

[2018-10-29 02:41] HenryXie1 opened #137 "Can't find GetObject in OCI go SDK Object Storage"
Hi there:
  I searched  https://godoc.org/github.com/oracle/oci-go-sdk/objectstorage
  I find PutObject to upload files  but I don't find GetObject to download files
  Am I missing sth?  Also in the sdk examples, can you provide examples to download files?

Thanks
Henry

[2018-10-29 03:32] jasonyin commented on #137
You can find it here https://github.com/oracle/oci-go-sdk/blob/master/objectstorage/objectstorage_client.go#L652.

For samples, it's a simple GET operation just like the ObjectStorage get namespace sample here: https://github.com/oracle/oci-go-sdk/blob/master/example/example_objectstorage_test.go#L59.

[2018-10-29 03:32] #137 closed

[2018-11-02 03:27] stevensu1977 opened #139 "CreateClusterDetails Options is required"
// Optional attributes for the cluster.
 Options *ClusterCreateOptions `mandatory:"false" json:"options"`

 mandatory is false, but when I use api get   "Service error:InvalidParameter. options can't be empty"

[2018-11-02 03:55] jasonyin commented on #139
thanks for reporting this issue. We will look into this.

[2018-11-07 20:13] scottsbaldwin commented on #139
Thanks @stevensu1977 for reporting this issue. It looks like some additional validation is occurring on the backend that is not in sync with the `mandatory:"false"` declaration.

The workaround for now is to specify `Options`. The `Options` field must be non-nil at the moment and can have none of the options actually set. The field just needs to be present.

[2018-11-13 23:54] eginez commented on #129
@drewwells quick question on the MockServer idea, would it behave as the opc metadata server?. We would have to configure the `InstancePrincipalConfigurationProvider` to somehow talk to such server as well correct?

Would it suffice to make a `InstancePrincipalsConfigurationProvider` configurable in such a way that you can pass arbitrary certificates?. Further if you would like to mock the certifi

[2018-11-20 06:54] stevensu1977 opened #141 "There have anyway I can batch create subnets ?"
From doc I  found CreateSubnet it's work, but  if I want create  per subnet for 3 AD , I need call  API 3 times , there have any API  I can  batch create subnets ?

[2018-11-26 21:14] timClicks opened #143 "newServiceFailureFromResponse does not use codes provided by server"
I'm attempting to identify whether clients are encountering authentication errors. From the documentation provided inline and on the OCI website, it looks like I should be checking `servicefailure.Code`.

However, looking at how [newServiceFailureFromResponse](https://github.com/oracle/oci-go-sdk/blob/b98b8fe42e1d32d5f4d298484dfd9be0853ab89e/common/errors.go#L36) it appears that the `servicefailur

[2018-11-26 21:21] timClicks commented on #143
Have just realized my error. `json.Unmasrshal` mutates `&se` in-place.

[2018-11-26 21:21] #143 closed

[2018-11-27 23:19] eginez commented on #141
unfortunately no there is no way to batch create subnets at the moment

[2018-11-27 23:19] #141 closed

[2018-12-04 00:16] drewwells commented on #129
This looks great, thanks!

[2019-01-28 23:39] eginez commented on #8
@jhorwit2 We have tentative interface we'd like to make public and enable custom logger, would appreciate your input. You can find the interface here: https://github.com/oracle/oci-go-sdk/blob/master/common/log.go#L15

[2019-02-07 19:09] eginez opened #151 "Wercker check keeps failing"
For the past 2 release the wercker check has failed to pull the github repo. Something presumably changed in the setup

[2019-02-12 21:52] eginez commented on #133
This has been fixed in #150

[2019-02-12 21:52] #133 closed

[2019-02-15 01:29] eginez commented on #139
I am inquiring with the service owners to resolve this issue as I don't see the field has changed in the latest releases

[2019-02-19 17:22] eginez commented on #139
The service team is still working on this fix, no ETA at the moment

[2019-02-27 23:39] eginez commented on #151
I am still looking into this, currently I don't have enough privileges to get access to make changes to the wercker account.

[2019-03-05 21:41] faiq opened #154 "Shorthand for toronto-1 missing"
Hey y'all the YYZ shorthand is missing for parsing the string to region. That option is available for all other regions. Here is a link to the official documentation: https://docs.cloud.oracle.com/iaas/Content/General/Concepts/regions.htm that states YYZ is an acceptable key.

Here is the line of code that needs to change https://github.com/oracle/oci-go-sdk/blob/master/common/common.go#L101

Than

[2019-03-05 22:22] eginez commented on #154
@faiq  Thanks for the report we are looking into this

[2019-03-05 22:28] jasonyin commented on #154
@faiq tanks for reporting the issue. The region short name is an optional, I am wondering what's your use case for that one?

[2019-03-07 23:09] eginez commented on #151
closed with #155

[2019-03-07 23:09] #151 closed

[2019-03-11 18:50] jasonyin commented on #154
@faiq, pls let us know if you are having issue to use the new regions or your use cases on the region keys, otherwise, I am going to close it by the end of tomorrow, thanks!

[2019-03-11 23:01] faiq commented on #154
I was using the region keys for the grafana datasource for OCI, to make a shorter display for the users. I changed it to using the full region names, but I think we're going to run into this problem again and it would be best to be consistent in our support.

[2019-03-12 16:43] jasonyin commented on #154
@faiq , for grafana, you can put anything as a filter dimension which has nothing related with SDK in terms of public support. FYI, region key is optional, region values is always guaranteed to be there for all SDKs and other clients. I am closing this issue, pls let me know if you have different opinions, thanks!

[2019-03-12 16:43] #154 closed

[2019-03-12 17:38] faiq commented on #154
I was talking about the plugin I was writing for Grafana which is here: https://github.com/oracle/oci-grafana-plugin

I think it would be best if the behavior was consistent and considering that its a 5 character change I don't see why we don't just make it?

[2019-03-15 03:15] zehliu opened #157 "The 'tag' info is always ignored in the returned string of Version() function"
A minor issue with the [Version()](https://github.com/oracle/oci-go-sdk/blob/0306ff0303b6c9f6ea6458021adc9f8f09f562b0/common/version.go#L22) function, looks like the 'tag' info would never be displayed in the returned string. Because the [WriteString()](https://golang.org/pkg/bytes/#Buffer.WriteString) method of bytes.Buffer always returns a nil error, the 'if' condition always evaluates true.
htt

[2019-03-18 19:18] jasonyin commented on #157
@zehliu thanks for reporting the issue, we are looking into this.

[2019-03-21 17:06] jasonyin commented on #157
@zehliu we will fix it in next coming release

[2019-03-26 16:51] #157 closed

[2019-04-30 17:07] jodoglevy commented on #139
This is now fixed -- CreateClusterDetails's options field is now optional in the service.

[2019-04-30 17:07] #139 closed

[2019-06-05 22:26] StuporHero opened #170 "Undocumented RawConfigurationProvider"
[`common.NewRawConfigurationProvider`](https://github.com/oracle/oci-go-sdk/blob/366e0557b30ee26f689eaa9ab5a1d1e252077c55/common/configuration.go#L55) is not documented in the README.md, and I'm wondering if it is undocumented on purpose. In other words, should it not be considered a part of the public API and therefore subject to change without notice, or is it safe to use?

[2019-06-10 18:03] eginez commented on #170
You are welcome to use `common.NewRawConfigurationProvider` as is an exposed function of the sdk. I am fixing the documentation to make it point to all the implementations of `ConfigurationProvider` that can be used

[2019-06-18 05:00] shukiku opened #172 "Streaming Service API Endpoint is incorrect in new region"
I faced the error below when I used terraform oci provider resource "oci_streaming_stream" in ap-tokyo-1.

[code]

Looking at the doc, I see the Streaming Service API Endpoint is `streaming.<region>.oci.oraclecloud.com`.
https://docs.cloud.oracle.com/iaas/api/#/en/streaming/20180418/

So, I guess that the endpoint string at streaming/streaming_streamadmin_client.go should be changed.
https://githu

[2019-06-18 21:39] eginez commented on #172
@shukiku Thanks for noticing this, we are working on fixing this issue

[2019-06-19 20:26] eginez commented on #170
Fixed in #173
I have added modified the README doc to clarify the implementations of `ConfigurationProvider`

[2019-06-19 20:26] #170 closed

[2019-07-01 18:10] JulienDollon commented on #172
Hello @shukiku
Thank you for bringing this to our attention. We recently fixed an issue that were generating malformed endpoint for specific regions like Tokyo.
The fix is supposed to be roll out soon (most likely tomorrow).
I will close this bug when it's confirmed.

[2019-07-05 06:28] shukiku commented on #172
Hi, @eginez @JulienDollon

Thank you for your response!
I confirmed this issue was fixed in terraform oci provider v3.32.0 (including this fix).

I can manage the "oci_streaming_stream" resouces in ap-tokyo-1.
Thanks again!

[2019-07-05 16:59] eginez commented on #172
Indeed this was fixed in #176

[2019-07-05 16:59] #172 closed

[2019-08-19 20:23] jodoglevy commented on #8
@jhorwit2  can you review Esteban's comment above please?

[2019-08-20 20:39] jasonyin commented on #8
@jhorwit2 pls let me know if that works for you or not, so I can get it merged, thanks!

[2019-08-21 14:03] jhorwit2 commented on #8
@jasonyin @jodoglevy That would work but it would be nicer if it had Infof, Debugf, etc on the interface since most loggers already have those methods which makes writing a wrapper not needed.

[2019-08-22 18:25] jasonyin commented on #8
thanks @jhorwit2  for the reply, does 'LogLevel' work for you in this case? similar like Log.(Info,....) Log.(Debug,...) etc....

[2019-09-03 15:30] satyavvd opened #186 "Cannot add custom meta data to object to be uploaded on object storage"
with below piece of code I see this error:
"panic: runtime error: invalid memory address or nil pointer dereference"

goroutine 1 [running]:
github.com/oracle/oci-go-sdk/objectstorage/transfer.(*multipartUpload).createMultipartUpload(0x9f23c0, 0x7c95c0, 0xc0000580c0, 0xc0001d00f0, 0xc0001d0100, 0xc0001d0110, 0xc0001bc0a8, 0xc0001bc568, 0xc0001bc569, 0xc0001bc560, ...)
        go/src/github.com/ora

[2019-09-03 15:33] satyavvd opened #187 "OCI Golang SDK hook/callback to display progressbar for uploads."
While uploading files into object storage using Golang OCI SDK,
     I would like to display a progress bar while upload ( files are huge in
     size), anyhow I don't see a hook/callback provided in Go SDK to display progress on progress
     bar(unlike python sdk) for multi part uploads.

[2019-09-09 03:55] srinivasthanneeru commented on #186
quick workaround, prefix metdata key with opc-meta, eg.as below
metadata["opc-meta-test"] = "srinit..."

[2019-09-09 17:21] srinivasthanneeru commented on #186
BTW. It works without above work around for single file upload

[2019-10-04 17:24] jasonyin commented on #186
@srinivasthanneeru in the upload manager request there's an optional metadata parameter https://github.com/oracle/oci-go-sdk/blob/master/objectstorage/transfer/upload_manager_req_resp.go#L75

are you saying without it the bulk upload will throw exception?

[2019-10-08 17:17] jasonyin commented on #187
fixed in https://github.com/oracle/oci-go-sdk/releases/tag/v12.0.0

[2019-10-08 17:17] #187 closed

[2019-10-09 05:29] srinivasthanneeru commented on #186
Hi Jason,

It expects keys to be prefixed with opc-meta*. If we supply metadata
without the prefix, the multi part upload fails.
However for single file upload it works fine without prefixing opc-meta*. I
believe it should be transparent to end consumer of SDK, SDK should prepend
if the key doesn't have opc-meta* prefix.

Hope that clarifies
Thanks
Srini

On Fri, Oct 4, 2019 at 10:24 AM Jason Yin

[2019-10-31 12:35] jeliker opened #197 "TF_VAR in environment should override config files to avoid need for temporary edits to config"
https://github.com/oracle/oci-go-sdk/blob/45032117e39a13bfbc23c2756f294da1f65c8847/common/client.go#L175

Configuration is processed by first examining config file then, if needed, environment.  Thus, to temporarily use another configuration one must remove or edit the config file. I propose the environment values TF_VAR_etc. should override anything found in the config file if set.

[2019-11-05 19:03] jasonyin commented on #197
hi @jeliker what're the TF_VAR you were referring here? Are they terraform configs, if yes, you might want to check here: https://github.com/terraform-providers/terraform-provider-oci

In general, if you want to use different configs and avoid edit config files you can do either of followings:
1. add new profile in your config and switch different profiles in your code;
2. write your own Configura

[2019-11-05 19:04] jasonyin commented on #8
feel free to re-open it if 'LogLevel' doesn't work for you.

[2019-11-05 19:04] #8 closed

[2019-11-05 22:52] jeliker commented on #197
Thank you for your reply here.

I followed to the go sdk source based on errors encountered in terraform provider which were related to included code from here. I posted here because it seemed related to the shared config code and not specific to terraform provider.

The issue manifests because a particular terraform provider feature doesn’t support specifying a “profile.” Thus the only option is

[2019-11-06 20:36] jasonyin commented on #197
Thanks @jeliker for the reply.

From SDK perspective, we don't know what kind of TF env variables are and TF will have full control about use the variable in config file or via env variable. And that's the reason we give control to customers to provide their own ConfigurationProvider to do customization instead of changing the default behavior for it.

As I recommended before for the two approache

[2019-11-13 17:43] jasonyin commented on #186
Got it, we will be working on a fix for auto adding opc-meta prefix on client side.

BTW, for multi-part md5 verification change, it will be release out today.

[2019-11-27 15:52] eugsim1 opened #202 "how would be possible to give the oci acocunts setting in the code without calling or using any external datasources"
Hello team
quick ans easy question
for a workshop we need to distribute an oci utility that will dump several oci config
I have written a very simpe go utilty where i can load in my linux env withTF_ my oci seeting and then i can call this code  to log in and run my code :

e1 := common.ConfigurationProviderEnvironmentVariables("TF_VAR","")
//fmt.Println(e1)

// The OCID of the tenancy containing

[2019-11-28 11:31] eugsim1 opened #203 "ListWafLogs crashes on call the API cant parse logs"
Hi team
this calls are crashing :
fmt.Printf("=== waaf logs =======\n" )
 var GetListWafLogsRequest waas.ListWafLogsRequest
 for _, k:= range WaasPoliciesResp.Items {
 GetListWafLogsRequest= waas.ListWafLogsRequest {
	   WaasPolicyId : k.Id,
	   }
  fmt.Printf("Logs from Policy id:%s\n",  *GetListWafLogsRequest.WaasPolicyId)
  ListWafLogsContent, err := WaasClient.ListWafLogs(context.Background()

[2019-12-02 18:04] jasonyin commented on #197
Hi @jeliker I am closing this issue, let me know if you still have questions, thanks!

[2019-12-02 18:04] #197 closed

[2019-12-02 23:53] jeliker commented on #197
Understood and fair. I will continue pursuit through TF provider.

_____
Jon-Eric Eliker (mobile)
Twitter: @jeliker
Jabber: jon@eliker.net

[2019-12-03 19:31] jasonyin commented on #203
This is a waas service bug. The date field is not RFC 3339 format.

[2019-12-04 00:49] tienpham commented on #203
is there workaround for this issue?

[2019-12-04 21:00] jodoglevy commented on #203
We will reach out to the WaaS service team to have them fix this issue

[2019-12-04 22:45] tienpham commented on #203
Do you have ETA for this? It's kind of showstopper for us.

[2019-12-05 16:39] eugsim1 commented on #203
is there a way to skip the date and give the possibility to choose what fields from the records we can collect ?

[2019-12-05 18:01] jodoglevy commented on #203
You could use the Go SDK's [raw request signer](https://godoc.org/github.com/oracle/oci-go-sdk#hdr-Signing_Custom_Requests) to make the HTTP request yourself, instead of using the built-in Go SDK ListWafLogs operation for it. The raw request signer won't try to parse the resulting response, and so won't hit the non-RFC-3339 datetime issue

[2019-12-06 13:38] eugsim1 commented on #203
Hi jodoglevy wiuld be possible to discuss ofline i m internal ? slack ESIMOS
thanks :)

[2019-12-09 19:20] colt3k opened #204 "Multipart Download Example"
Please supply the ability for a multipart download and example from the Object Storage.

[2019-12-11 19:10] eugsim1 commented on #203
hi thanks to joe i was thinking that i have workaround the issue ... but i hit another bug from the waaf unrelated to this topic, the raw request is working fine, i m able to "requst" the log of the waaf but for this time the waaf is not logging any more any requests i have opened an SR for the internals SR 3-21809052071thanks

[2019-12-11 19:10] #203 closed

[2019-12-13 21:24] buzhidao77 commented on #202
Hi @eugsim1
Could you please elaborate a little bit more on "previous values" part?

[2019-12-16 19:51] PraveenViswanathan opened #206 "OCI Resource Manager stack is not getting updated with modified variables when created from OCI GO SDK"
HI Team,

I am using "CreateStackRequest" from OCI GO SDK to create a stack but encountering below issue. Once a stack is created and applied in OCI if we do any modifications to the values either directly or using tfvars and update the stack, the changes are not getting reflected. For example. in the attached file we change the node_pool count from 1 to 2. But OCI Stack shows there is no change i

[2019-12-17 18:57] eugsim1 commented on #202
yes i m having my own env with TF_vars and reading the docs i thought that i wouldnt be possible to use this file but actually this works so i can grab my settings by using this file ...

[2019-12-17 18:57] #202 closed

[2019-12-17 19:05] eugsim1 opened #208 "issues with datasafe autonmous registration"
Hello
this updated code for autonomous and datasafe works  the api detects the state :
ListAutoNomousRep, err := DataBaseClient.ListAutonomousDatabases(context.Background() , GetListAutonomousDatabasesRequest)
	if err != nil {
		fmt.Println("Error from ListAutoNomousRep", err)
		return
	}

fmt.Printf("Nb of records : %d\n", len(ListAutoNomousRep.Items))
for  i, v:= range ListAutoNomousRep.Items {

[2019-12-18 14:44] eugsim1 commented on #208
Hi i used a configured datasafe user and i m getting the same failure

	for _, v := range ListAutoNomousRep.Items {

		if v.LifecycleState == database.AutonomousDatabaseSummaryLifecycleStateAvailable {
			if ( v.DataSafeStatus == "NOT_REGISTERED" || v.DataSafeStatus == "FAILED" ) {
				RegisterDSF := database.RegisterAutonomousDatabaseDataSafeRequest{
					AutonomousDatabaseId: v.Id,
				}
				res

[2019-12-18 16:22] eugsim1 commented on #208
Nb of records : 2
Autonomous Db[0]: ebsadw0 1 1 UNAVAILABLE student0 NULL_VALUE NOT_REGISTERED
Autonomous Db[1]: ebsadw1 1 1 AVAILABLE student1 18c FAILED
resp details
RawResponse Status     202 Accepted
RawResponse StatusCode 202
RawResponse Proto      HTTP/1.1
RawResponse Body       &{%!s(func()=0x657be0) {} %!s(func() bool=0x6631a0)}
RawResponse Request        {POST https://database.eu-frankfur

[2019-12-18 21:08] buzhidao77 commented on #97
Seems like the issue has been resolved. The file names look correct now. Closing the issue.

[2019-12-18 21:09] #97 closed

[2019-12-20 20:47] eugsim1 commented on #208
Hi actually the issue is related to an internal error on the adw database for some reason the adw which is created from terraform is using an old name of and adw which was dropped and recreated withour been properly deregistered every time that my terraform script was creating the adw from scratch then this issue was popping when i created a brand new name for my adw then the calls are working wit

[2019-12-20 20:47] #208 closed

[2019-12-23 18:01] buzhidao77 commented on #206
Working on a fix.

[2019-12-23 18:29] buzhidao77 commented on #204
We currently do not support multipart download from SDK. This is going to be a feature request and we will discuss it within the team.

[2019-12-23 19:26] buzhidao77 commented on #206
@PraveenViswanathan  Could you please send me the complete code snippet? I tried to modify the source code you attached in order to run it but there are still some info missing (e.g. base64Zip function).

[2019-12-23 19:37] PraveenViswanathan commented on #206
@buzhidao77 shared the file in your slack

[2019-12-23 21:01] buzhidao77 commented on #206
Synced up with @PraveenViswanathan
The ORM stack needs to be updated through UpdateStack API in order for ORM to pick up the new information.

[2019-12-24 19:21] PraveenViswanathan opened #209 "Not able to run oci-go-sdk inside a kubernetes cluster"
We are trying to run a oci-go-sdk script inside a cluster to create a Resource Manager Stack in OCI but we are getting below error when running from the cluster. The same go code works in my local machine. As a platform independent language I expect oci-go-sdk to work the same way how it was working in my local mac. Could you please review the error and provide your suggestion whether any addition

[2020-01-02 17:50] buzhidao77 commented on #209
@PraveenViswanathan the UserAgent is used to fill in the User-Agent header value and the common format contains product name, version, etc. By default, it'll try to collect some values from runtime: runtime.GOOS, runtime.GOARCH, runtime.Version()

I'm wondering if your kubernetes cluster environment has the environment for gosdk set up properly. If it is not able to get those values from runtime,

[2020-01-07 17:26] buzhidao77 commented on #206
@PraveenViswanathan I'm closing this issue as per our discussion. UpdateStack API should be able to get your scenario working.

[2020-01-07 17:26] #206 closed

[2020-03-03 19:05] jhorwit2 commented on #209
There's numerous folks using oci go sdk in Kubernetes clusters especially on OKE. This sounds like a problem with your build/setup when you deploy to k8s.

[2020-03-03 21:53] syerabat commented on #137
Hi Jasonyin,
I followed the above fix but it is not downloading the actual file.  I am able to get file metadata though. Could you please advise?

Below is my code:

func getObject(ctx context.Context, c objectstorage.ObjectStorageClient, namespace, bucketname, objectname string) error {
	request := objectstorage.GetObjectRequest {
		NamespaceName: &namespace,
		BucketName:    &bucketname,
		Objec

[2020-03-03 21:56] syerabat opened #219 "Downloading a file from Object Storage"
Hi Jasonyin,
Previous issue: https://github.com/oracle/oci-go-sdk/issues/137

I followed the above fix but I am not able to download the actual file. I am able to get file metadata though. Could you please advise?

Below is my code:

func getObject(ctx context.Context, c objectstorage.ObjectStorageClient, namespace, bucketname, objectname string) error {
request := objectstorage.GetObjectRequest {

[2020-04-28 23:37] jlamillan opened #229 "Document example of creating an anonymous/unauthenticated client"
In some cases, it would be helpful to create a client that is unauthenticated. For example, to simply retrieve a list of regions.

It is not clear whether the client can be configured to operate in an unauthenticated mode, and if so, how to do it.

[2020-04-30 21:43] jodoglevy commented on #229
Hi @jlamillan - are you sure OCI has APIs that do not require authentication? Can you point me to the docs that mention that / those operations?

[2020-05-04 19:13] jlamillan commented on #229
My misunderstanding then.

[2020-05-04 19:13] #229 closed

[2020-05-20 14:30] cirelli94 opened #233 "Generate token"
oci cli can generate token https://github.com/oracle/oci-cli/blob/cf04fa4f08238cb1ee4287f0354603ba92e60647/services/container_engine/src/oci_cli_container_engine/containerengine_cli_extended.py

Can we add the api to generate a token via oci-go-sdk?

[2020-06-04 18:33] colt3k opened #235 "Example to extract secret"
Please update examples to include extracting a secret from the vault.

[2020-06-12 18:44] andyday opened #237 "Mod Support"
Instead of recommending users use the dep tool, this sdk should fully support go mods and recommend using it for dependencies.

[2020-07-09 15:31] scross01 opened #242 "Add support for PKCS#8 format API Keys"
The Go SDK only seems to work if the `opc_api_key.pem` is in the PKCS#1 format that begins with the header
[code]

However I've seen on some systems the `opc_api_key.pem` is created in the PKCS#8 format that begins with the header
[code]

This 2nd format works fine with the OCI CLI, but fails when using Terraform.  The related code appears to be at:

https://github.com/oracle/oci-go-sdk/blob/857a5

[2020-07-09 15:32] scross01 commented on #242
Releted OCI Terraform provider issue https://github.com/terraform-providers/terraform-provider-oci/issues/512

[2020-07-28 15:49] pelliu commented on #242
Hi @scross01, thanks for letting us know the requirement, we have added the support for PKCS#8 key format, you can get the feature from latest version `22.0.0`- https://github.com/oracle/oci-go-sdk/releases/tag/v22.0.0

[2020-07-28 15:49] #242 closed

[2020-07-28 15:53] pelliu commented on #237
Hi @andyday, thanks for letting us know the requirement, we have provided the support for go mods internally, would you like to try that version first?

[2020-08-07 22:07] brusMX commented on #209
I found the error for anyone chasing their tails. This issue comes from the GO version you are using.
This SDK is using `runtime` that only exists in GO >=1.7

[2020-08-11 19:51] pelliu commented on #237
Hi @andyday, we have supported Go Mod in v24.0.0, you can find it in https://github.com/oracle/oci-go-sdk/releases/tag/v24.0.0, will close the ticket currently, any other questions, you can reopen it again or create a new ticket, thanks!

[2020-08-13 22:39] pelliu commented on #237
Since Go SDK is using major/minor version bump, the go mod feature in Go SDK still has issues, we are working on these issues, so Go Mod feature won't be ready till we can fix them, sorry for the inconvenience.

[2020-09-02 22:11] ZiyaoQiao commented on #209
@PraveenViswanathan Please see the above discussion, I'm closing this issue as it's not related to our go sdk. If you still have any problem, feel free to reopen this and provide more info to us. Thanks

[2020-09-02 22:11] #209 closed

[2020-09-03 17:14] #11 closed

[2020-09-15 20:23] ZiyaoQiao commented on #237
Go SDK supports Go Modules after v25.0.0, you can find it here: https://github.com/oracle/oci-go-sdk/releases/tag/v25.0.0
Please also refer to Readme file to see how to use our latest version with go.mod

[2020-09-15 20:23] #237 closed

[2020-09-25 00:45] kishore-oracle opened #255 "HELP NEEDED - Can you provide feedback on OCI SDKs?"
Are you an OCI customer and would you be willing to spend a few minutes on a call and provide feedback about your experience of using the OCI SDK? email: [kishore.ramamurthy@oracle.com](mailto:kishore.ramamurthy@oracle.com). Thanks.

[2020-10-22 20:24] pelliu commented on #219
Hi @syerabat, is this still an issue for you? I just verified with this example https://github.com/oracle/oci-go-sdk/blob/master/example/example_objectstorage_test.go#L23, and add the following test code
`	req := objectstorage.GetObjectRequest{
		NamespaceName: &namespace,
		BucketName:    &bname,
		ObjectName:    &filename,
	}
	resp, err := c.GetObject(ctx, req)
	if err == nil {
		fmt.Println(*re

[2020-10-22 20:32] ZiyaoQiao commented on #219
Hi @syerabat, the file content can be retrieved like this:
[code]
Make sure the response is correct before trying to read the content

[2020-11-07 18:19] amikugup commented on #209
@PraveenViswanathan , how did you solve this problem? Are you still getting this issue?
I am also facing the same issue. This would be helpful if you can share some information regarding this.

Thanks in advance!

[2020-12-10 11:49] tamiraviv opened #266 "RetryPolicy doesn't work"
Hi,

When you try to do any operation with 'object storage' you can define a field called 'RequestMetadata',
inside this field, you can define another field called RetryPoliy that basically retry your operation the way you define it

Unfortunately, this retry mechanism doesn't work, after the first attempt you will get the following error:

"https://objectstorage.<URL\>: http: ContentLength=XXX wi

[2020-12-10 15:49] pelliu commented on #266
Hi @tamiraviv, thanks for letting us know the issue, we will look into the issue and try to fix it ASAP.

[2021-01-12 17:08] pelliu commented on #266
Hi @tamiraviv, we have known the root cause of the issue, but it is still being fixing period, not included the change in v32.0.0, will let you know once we can resolve it, thanks for your patients.

[2021-01-26 00:35] calegari-adriano commented on #219
Hi.
Following the example at: https://docs.oracle.com/en-us/iaas/tools/go-sdk-examples/33.0.0/objectstorage/GetObject.go.html
it works as expected.

But with additional code as @ZiyaoQiao:

helpers.FatalIfError(err)
content, _ := ioutil.ReadAll(resp.Content)

if run more than ~ 60 sec to download the object, this throw the error: context deadline exceeded (Client.Timeout or context cancellation wh

[2021-01-26 00:45] ZiyaoQiao commented on #219
Hi,
our client has a timeout configuration set to 60s by default. If your file is relative large, it's better to customize the client configuration with timeout set to 0

[2021-01-26 01:43] calegari-adriano commented on #219
Thanks for reply and help.

Following your guess, I did the customization and now works as expected. I saw the code:

// HTTPRequestDispatcher wraps the execution of a http request, it is generally implemented by
// http.Client.Do, but can be customized for testing
type HTTPRequestDispatcher interface {
	Do(req *http.Request) (*http.Response, error)
}

[2021-01-26 15:52] pelliu commented on #219
@syerabat and @calegari-adriano , I think it is not an issue for you guys, right? May I close this ticket? Thanks!

[2021-01-26 16:40] calegari-adriano commented on #219
+1 right

[2021-01-26 16:42] #219 closed

[2021-01-28 19:57] ZiyaoQiao commented on #235
Hi, https://docs.oracle.com/en-us/iaas/tools/go-sdk-examples/34.0.0/vault/GetSecret.go.html this is the example for getting the secret from vault. Hope this solves your problem, thanks!

[2021-02-08 21:56] ZiyaoQiao commented on #235
Will close this issue, if the example do not work, feel free to reopen this ticket, thanks

[2021-02-08 21:56] #235 closed

[2021-02-16 20:22] eugsim1 opened #274 "common.CustomProfileConfigProvider cannot read properly values other than the [DEFAULT] section"
Hello
I m hitting an issue where this call cannot read other values from the standard ./oci/config than the [DEFAULT] section.
I thought that maybe these entries where having issues but the OCI cli with the --profile flag is working fine and the terraform is getting all the TF_VAR without issue

[code]
var (
e1 = common.CustomProfileConfigProvider("/home/oracle/.oci/config", "DESEC")
)

[code]

[2021-02-17 01:03] pelliu commented on #274
@eugsim1, thanks for posting the issue, let us confirm with CLI and TF, and then reply to you.

[2021-02-18 00:51] ZiyaoQiao commented on #274
@eugsim1 , from the info you provided above, is it because of the wrong section name you provided? `DESEC` or `DBSEC`? If it's not related to this, could you enable the verbose level log and provide us with more info? Thanks!

[2021-02-19 17:04] eugsim1 commented on #274
Hi again
I had several sections on my config, what i noticed was that i had 2 extra lines in the beginning of the config:
[OCI_CLI_SETTINGS]
default_profile=DEFAULT
i have removed them , and now it is working.

[2021-02-19 17:04] #274 closed

[2021-02-19 17:05] eugsim1 commented on #274
remove extra lines that i dont use to my config and this works now

[2021-02-19 17:06] eugsim1 commented on #255
i m internal you can contact me if you need feedback

[2021-02-26 03:18] psaini79 opened #276 "Oracle OCI Notification Example using Go SDK"
I am trying to locate the API to call OCI Notification service using go SDK. Is there any example where I can look at the sample to send a slack message or email using Oracle notification service?

[2021-02-26 16:16] fabulias opened #277 "documentation about ConfigurationProvider is old"
Hi, the readme document isn't up to date entirely.

**Current documentation**
[code]

**The current code is asking for an `AuthType()` method now.**
[code]

I'll add a PR to fix this when oracle accepts my OCA request.

[2021-02-26 16:21] pelliu commented on #277
Hi @fabulias, thanks for your kindly reminder. The readme document will be updated in the next release.

[2021-02-26 16:30] fabulias commented on #277
@pelliu could I update that part or isn't necessary?

[2021-02-26 17:26] pelliu commented on #277
No, I think I can take care of it, really appreciate it!

[2021-02-26 17:53] jodoglevy commented on #277
Let's keep this open for tracking, until the work is done. Peng - I suggest to let Swetha take this one

[2021-02-26 18:40] ZiyaoQiao commented on #276
Hi @psaini79 this the link to `PublishMessage` example: https://docs.oracle.com/en-us/iaas/tools/go-sdk-examples/35.3.0/ons/PublishMessage.go.html for Oracle Notifications related APIs, please check `ons_notificationcontrolplane_clinet` or `one_notificationdataplane_client` under `ons` package. Thanks!

[2021-03-16 14:00] fabioDMFerreira opened #280 "Get instance public IP"
I am not sure how we can get an instance public IP without having to list all public IPs. Does this SDK provide a way to get an instance public IP?

[2021-03-16 14:07] fabioDMFerreira commented on #280
found this in docs https://docs.oracle.com/en-us/iaas/Content/Compute/References/oci-public-ip.htm

Only have to figure out which is the method in this SDK.

[2021-03-16 14:53] pelliu commented on #277
@fabulias, the doc has updated, again, thanks for the reminder, I will close this ticket. :)

type ConfigurationProvider interface {
   KeyProvider
   TenancyOCID() (string, error)
   UserOCID() (string, error)
   KeyFingerprint() (string, error)
   Region() (string, error)
   // AuthType() is used for specify the needed auth type, like UserPrincipal, InstancePrincipal, etc. AuthConfig is used for

[2021-03-16 14:53] #277 closed

[2021-03-16 15:08] pelliu commented on #280
Hi @fabioDMFerreira, thanks for letting us know your question, if my understanding is correct, you can use our vcn service API `getPublicIP`, which needs the OCID of the public IP, the source code -
https://github.com/oracle/oci-go-sdk/blob/563148c96ecf546250e48c8cf6527e22e95a9527/core/core_virtualnetwork_client.go#L6422
and the example -
https://docs.oracle.com/en-us/iaas/tools/go-sdk-examples/36

[2021-03-16 15:22] fabioDMFerreira commented on #280
In my use case, I pretend to get a launched instance public/private IP using the API.

I am getting a list of instances that have the details in this struct https://github.com/oracle/oci-go-sdk/blob/v24.3.0/core/instance.go#L30. From here I'd like to figure out how to get each instance public IP. Not sure how I can do it because the public IP OCID is not in the instance details.

[2021-03-16 15:39] pelliu commented on #280
I am not from Compute team or Network team, my understanding, once you can get instance detail, you should be able to get instance ID https://github.com/oracle/oci-go-sdk/blob/v24.3.0/core/instance.go#L40, so use that as the input of the API I showed you(getPublicIP), should get the public IP.

[2021-03-16 15:44] fabioDMFerreira commented on #280
I didn't try the get the public IP you suggested. So, should I be able to use the instance ID as the parameter `PublicIpId` (https://github.com/oracle/oci-go-sdk/blob/563148c96ecf546250e48c8cf6527e22e95a9527/core/get_public_ip_request_response.go#L17)?

[2021-03-16 15:44] fabioDMFerreira commented on #280
will get back to you once I test it

[2021-03-16 17:09] fabioDMFerreira commented on #280
My test didn't work. Probably, `PublicIpId` is reserved for public IPs ids as its own name suggest.

See below what I tried.
[code]

Output
[code]

[2021-03-16 17:41] pelliu commented on #280
Would you like to reach out to VCN service team so that you can get help immedately? We have public slack channel #oci_vcn, you can post your question there (you can ask if the API I suggested is the right API to call, if so why get 404, provide them the opc request id...), otherwise we will file a ticket to VCN team, so that they can help you, but maybe slower than that way.

[2021-03-16 17:44] fabioDMFerreira commented on #280
No problem. I'll reach them on slack.

[2021-03-16 17:52] fabioDMFerreira commented on #280
Could you point me to the slack workspace URL?

[2021-03-16 19:42] pelliu commented on #280
@fabioDMFerreira, my bad, seems like our slack channel is not publicly used. I will reach out to VCN team and get back to you.

[2021-03-16 21:12] pelliu commented on #276
@psaini79, is this still an issue? I found that you'd asked ons service team, if not an issue any more, I will close the ticket, thanks!

[2021-03-16 21:24] psaini79 commented on #276
The issue is resolved and we should avoid using  MessageType in PublishMessageRequest. Please correct the documentation:  https://docs.oracle.com/en-us/iaas/tools/go-sdk-examples/35.3.0/ons/PublishMessage.go.html.

[2021-03-16 21:24] #276 closed

[2021-03-16 21:33] pelliu commented on #276
Thanks, @psaini79, I will work with ons team to resolve it.

[2021-03-17 12:32] davejfranco commented on #266
Any update on this?

[2021-03-17 18:46] pelliu commented on #280
Hi @fabioDMFerreira, just got confirmation from our VCN team, what @jodoglevy suggested is correct, to query network information, have to start with `vnicattachment` first.

[2021-03-18 11:23] fabioDMFerreira commented on #280
Hi @jodoglevy and @pelliu,

That's exactly what I was searching for. Now, I have a way to get the network information of instances using the API.

It would be nice to get all vnics info (macAddress, Ips, etc) of one instance aggregated in only one response, but certainly, this has architecture implications.

Thanks

[2021-03-18 11:23] #280 closed

[2021-04-02 20:09] eugsim1 opened #284 "ListExternalContainerDatabases LifecycleState: "AVAILABLE" is not working"
Hi
the filter is not working hte call returns all states i had to add an ugly if see below plese correct :
without the second test if ... AVAILABLE the code return wrong values
[code]

[2021-04-15 00:41] oci-lm commented on #284
Thanks for reporting this -- we're looking at this and it should be fixed and deployed out by 05/07.

[2021-04-20 14:51] pelliu commented on #266
Hi @tamiraviv and @davejfranco, Go SDK version 40.0.0 fixed retry doesn't work issue when the request body is binary request, but with condition that the request body is resettable request body, which means the request body type should implement seek() method, otherwise we would throw exception that the request doesn't support retry. For detail, please refer the release note. I will currently clos

[2021-04-20 14:51] #266 closed

[2021-05-12 19:59] oci-lm commented on #284
The fix for this didn't make the last release train - will update when it has been deployed.

[2021-06-16 08:52] bigdatasourav opened #298 "add support for vcn name in response for ListSubnets ,ListSecurityLists,ListNetworkSecurityGroups api's apart from vcn id."
it would be good to have the VCN name associated to these api's apart from the vcn_id field to avoid unnecessary joins to get the VCN name associated to the respective security list, subnet or group.

[2021-06-17 18:18] jodoglevy commented on #298
Thanks for the feedback. We'll route this request to the OCI Networking team

[2021-06-25 02:32] psaini79 opened #300 "Unable to locate functions to create dbsystem for BM/RAC/SIDB"
Hi, I am looking for APIs to create the databases using go sdk as per this link https://docs.oracle.com/en-us/iaas/Content/Database/Concepts/overview.htm.

I am unable to find any example to create the dbsystem for BM/RAC/SIDB using go -sdk.

[2021-06-25 03:26] ZiyaoQiao commented on #300
Hi @psaini79 , you can refer to this example: https://github.com/oracle/oci-go-sdk/blob/master/example/example_database_test.go and use LaunchDbSystem function to create dbsystem. Thanks

[2021-06-29 15:18] pelliu commented on #204
@colt3k, we added a multipart download example in 43.0.0 release, which you can find here: https://github.com/oracle/oci-go-sdk/blob/master/example/example_objectstorage_multi_download_test.go. I will close this ticket, if any other questions, you can reopen this ticket, or create a new ticket, thanks!

[2021-06-29 15:18] #204 closed

[2021-06-30 12:20] eugsim1 opened #302 "BREAKING CHANGES BETWEEN V40 AND V41 ..."
i had this code working with v40

   e1 := common.CustomProfileConfigProvider ("./config/config", "oractdemeabdmautodb")

	c, err := identity.NewIdentityClientWithConfigurationProvider(e1)
	if err != nil {
		fmt.Println("Error:", err)
		return
	}

going to v41 +  this code is not working any more
why there are breaking changes ?

how can we cope ?

[2021-06-30 13:18] eugsim1 commented on #302
Utils SetConfigProvider oractdemeabdmautodb
utils Tenancy_ocid :ocid1.tenancy.oc1..aaaaaaaa4weq6bgxr4rzg65lzckg2ng2xgglsj2bc5j4n2zngkibwp6i6jza
Utils SetConfigProvider Error: can not create client, bad configuration: open key_file=/home/oracle/.oci/oci_api_key_home.pem: no such file or directory
exit status 1
[oracle@localhost goiam]$ ls -la /home/oracle/.oci/oci_api_key_home.pem
-rw-r--r--. 1 ora

[2021-07-05 07:48] fy894684862 opened #303 "Too many requests for the user. http status code: 429."
when I use golang sdk to request oci GetIP interface ,it response "EXTRA common.servicefailure=Service error:TooManyRequests. Too many requests for the user. http status code: 429. Opc request id: 72307bfb6fe68a773c2436db15643244/67D0C5D61EB1EC756BBC778FC74416A3/D9A9385B1666F1595CF5D7AD6632A695)",
how can i find document to learn the threshold value of api call?

[2021-07-06 16:19] pelliu commented on #303
@fy894684862 , thanks for letting us know your question, I think different services should have their own criteria for triggering 429 errors, I'm assuming you are asking the vcn service, I will forward the question to them, you can also create an SR from OCI Console to directly ask the service team.

[2021-07-06 16:37] pelliu commented on #303
I am not sure if you used Go SDK retry policy, if the answer is yes and got this error, maybe you can consider using different backoff strategy, like exponential backoff, which you can find the reference from our default retry policy https://github.com/oracle/oci-go-sdk/blob/master/common/retry.go#L114.

[2021-07-08 01:10] pelliu commented on #302
@eugsim1, does this still an issue for you? I don't think it is an issue from the Go SDK, after you regenerated the config file, the issue was not there, right? Please let us know if we can close this, thanks!

[2021-07-08 08:36] eugsim1 commented on #302
Hi i have rotated my keys and now i dont see this issue

[2021-07-08 08:36] #302 closed

[2021-07-08 21:55] ZiyaoQiao opened #306 "Performance regression in the Go SDK"
In version v41.2.0 and later versions, you may encounter performance regressions when using the SDK with some OCI services. The regression surfaces itself as a 3 seconds increase in latency in SDK operations made to some OCI services. This issue has been confirmed to impact the OCI Streaming service, and likely impacts the Functions, Email Delivery, Health Checks, NoSQL Database Cloud, Registry, G

[2021-07-20 16:59] ZiyaoQiao commented on #306
In version v45.0.0 and later, expect 100-continue is only enabled for object storage and log analytics service. All other services are disabled to avoid increase in latency. If you have any questions, feel free to contact us.

[2021-07-22 16:07] prabhakar-oracle commented on #209
@amikugup , did you rootcause the issue? Could you please share the details?

[2021-07-29 17:08] jodoglevy commented on #300
Hi @psaini79 - just following up here since we didn't see a response from you. Did @ZiyaoQiao's response resolve your question?

[2021-07-29 17:10] jodoglevy commented on #303
@fy894684862 - just checking in since we haven't heard from you. Did @pelliu's responses resolve your question?

[2021-07-29 20:19] psaini79 commented on #300
Yes, it worked and I am able to use go SDK for the DBCS system.

[2021-07-29 20:19] #300 closed

[2021-08-06 20:32] oci-lm commented on #284
Wasn't able to add an update here for a while, but this issue has been resolved :)

[2021-08-06 21:52] jodoglevy commented on #284
Thanks @oci-lm . Closing this issue since it is fixed. @eugsim1 please feel free to reopen this if you are still encountering issues

[2021-08-06 21:52] #284 closed

[2021-08-10 23:29] jodoglevy commented on #303
@fy894684862 I'm going to close this since we haven't heard back from you, and I think @pelliu's response should resolve your issue. But feel free to reopen this if you are still encountering problems.

[2021-08-10 23:29] #303 closed

[2021-08-24 23:26] gcstang opened #313 "Provide Sorting on all List requests"
Please provide Sorting on List requests such as objectstorage.ListBucketsRequest like there is on core.ListVolumeBackupsRequest

Ideally sorting by Name at a minimum.

Thank you

[2021-08-24 23:37] ZiyaoQiao commented on #313
Thanks for the feedback@gcstang, we will discuss this within the team

[2021-08-25 18:02] mimol91 opened #314 "Validating Notification signature"
It would be awesome to have a method that validates the OCI notification signature.
I could not find documentation on how to do it, and after contacting support I've only received snipped of code in Java. (Which I tried to port to go)

I've tried to validate the signature from example that was provided to me but no luck
https://play.golang.org/p/LM5NBGTzkRx

I was able to use OCI SDK to sign and t

[2021-08-25 18:43] pkk-code opened #315 "CreatePreauthenticatedRequest in object store to support Content-Disposition"
Request for support Content-Disposition header option in the CreatePreauthenticatedRequest sdk? so, when a file is downloaded through browser it would download to the desired filename than the stored object name. Similar to https://docs.oracle.com/en-us/iaas/api/#/en/objectstorage/20160918/Object/PutObject

[2021-08-29 01:14] jodoglevy commented on #314
Hi @mimol91 - when you say the "OCI notification signature" - can you explain what signature you mean?

Is this related to the [OCI Notifications service](https://docs.oracle.com/en-us/iaas/Content/Notification/Concepts/notificationoverview.htm)? Or do you mean the [API signature sent in any authenticated OCI API request](https://docs.oracle.com/en-us/iaas/Content/API/Concepts/signingrequests.htm#

[2021-08-30 07:05] mimol91 commented on #314
Hey @jodoglevy
I mean https://docs.oracle.com/en-us/iaas/Content/Notification/Concepts/notificationoverview.htm (Notification from OCI to Service, for example about Bucket events, etc)

[2021-08-30 12:03] pelliu commented on #314
Hi @mimol91, seems like you are saying common API signature(from the example code you provided), and you want to validate the signature, but may I ask why do you want to validate the OCI API's signature? in my understanding, when you get key pair from OCI, create client for particular OCI service(let's say notification service), and sent the request to the service, service end needs to validate th

[2021-09-01 06:11] mimol91 commented on #314
To make sure this event is sent via OCI, not any by any 3rd party (Notification is sent to public Webhook endpoint, so anyone can send tampered data). I want to be notified (via Notification - which sends a specific payload to our public webhook endpoint), every time when a file was uploaded to a bucket

Yes it works

It still works, but SKD only allows to sign requests which are being sent **TO**

[2021-09-01 22:00] jodoglevy commented on #314
Thanks @mimol91 - can you provide the Java code you received for validating the signature?

We'll route this to the Notifications team to take a look at

[2021-09-02 08:18] mimol91 commented on #314
I've wrote on OCI support too, so they might been working on it already
[code]

[2021-09-02 16:26] jodoglevy commented on #314
@mimol91 yes Notifications team mentioned they are working on this with you through a support ticket

[2021-09-07 06:00] bigdatasourav opened #317 "CloudGuard API's are returning empty response."
CloudGuard API's for Detector receipe, responder receipe, Target and managed list are returning empty response even there is data. Below is one example --

[code]

# Output
[code]

[2021-09-07 06:50] bigdatasourav commented on #317
Configuration API is working fine -
[code]
# output
[code]

[2021-09-07 11:34] MPV opened #318 "Use OCI_ prefixed environment variables (like OCI_CLI_, not TF_VAR_)"
I'm referring to this implementation:

https://github.com/oracle/oci-go-sdk/blob/977324a51de5a48c3fc9b1c424b1742eb66ee0bd/common/client.go#L283

And comparing with the naming convention of the environment variables of `oci-cli`:
https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/clienvironmentvariables.htm#CLI_Environment_Variables

...and how other Terraform providers are able to pick up "usu

[2021-09-07 11:35] MPV commented on #197
FYI I opened https://github.com/oracle/oci-go-sdk/issues/318 (somewhat related to this issue, in case you'd be interested)

[2021-09-07 11:36] MPV commented on #318
Somewhat unsure as to whether if it would be preferred to have this issue/change in this SDK repo, or in the TF provider, but it seems like the implementation originated from this repo, hence why I created it here.

[2021-09-07 15:10] pelliu commented on #317
@bigdatasourav, thanks for letting us know your questions, I looked into the issue, seems like the response of `ListDetectorRecipes`'s body is defined inside of `DetectorRecipeCollection`(https://github.com/oracle/oci-go-sdk/blob/551afdba6f1e966c52ae2c5d78dbef7825a3972a/cloudguard/list_detector_recipes_request_response.go#L95 and https://github.com/oracle/oci-go-sdk/blob/551afdba6f1e966c52ae2c5d78

[2021-09-08 04:49] pelliu commented on #318
@MPV, thank you for letting us know your question, it seems like the terraform provider related questions, even environmentProvider := environmentConfigurationProvider{EnvironmentVariablePrefix: "TF_VAR"} was contributed by TF team. I'd asked TF team to take a look, they will reply here, or you can also ask https://github.com/terraform-providers/terraform-provider-oci.

[2021-09-08 04:52] pelliu commented on #318
@varmax2511, @rashik-bhasin, and @govindrao55, could you please take a look?

[2021-09-13 17:07] jodoglevy commented on #314
@mimol91 the Notifications team told me today that your issue should be fixed now. They gave me this as a reference: https://play.golang.org/p/8Fe8P0YVoTg.

Are you ok to close this issue?

[2021-09-13 18:26] pelliu commented on #317
@bigdatasourav, just want to follow up - did you try to call r.DetectorRecipeCollection.Items ? does it work for you?

[2021-09-14 06:32] bigdatasourav commented on #317
@pelliu Below are the details I have found -

If I set reporting region in ~/.oci/config  -> I am getting values from r.DetectorRecipeCollection.Items and r.Items as well.
If I set any other region in ~/.oci/config  -> No data from r.DetectorRecipeCollection.Items or r.Items

Whether I set reporting region in ~/.oci/config or not --> GetConfiguration API is working fine.

Now my question is except

[2021-09-14 06:43] mimol91 commented on #314
oh, so you don't plan to add it to sdk?
OK then, closing. Thanks for help

[2021-09-14 14:33] mimol91 commented on #314
Unfortunately, Support didn't specify what 'message body' is
HTTP Request body is an JSON
[code]
I've tried to use this whole HTTP body as a 'message body', but it didn't get validated correctly.
Could you please advise how to get a 'message body' from an HTTP request

[2021-09-14 16:23] jodoglevy commented on #314
I'll ask Notifications team to respond here

[2021-09-14 17:14] maheshwarigagan commented on #314
@mimol91 Can you please share the whole object you received from ONS? with headers and body

[2021-09-15 06:49] mimol91 commented on #314
curl --request POST \
  --url http://127.0.0.1:9090/webhooks/oci/notification \
  --header 'accept: */*' \
  --header 'connection: close' \
  --header 'content-type: application/json' \
  --header 'user-agent: Apache-HttpAsyncClient/4.1.4 (Java/1.8.0_162)' \
  --header 'x-oci-ns-messageid: e2a3fb1f-f397-ac5d-a835-955a167827ec' \
  --header 'x-oci-ns-messagetype: Notification' \
  --header 'x-oci-n

[2021-09-16 21:17] bookmist commented on #209
Try to set environment variable OCI_SDK_APPEND_USER_AGENT to any non-empty value. It helps me in a similar case.

[2021-09-16 21:31] ZiyaoQiao commented on #209
@amikugup could you share more details? The GoSDK use UA template like this: SDK/SDKVersion (OS/OSVersion; Lang/LangVersion), please double check if your environment supports `runtime.GOOS` `runtime.GOARCH` `runtime.Version()`

[2021-09-20 17:01] mimol91 commented on #314
@maheshwarigagan Any up-dates?

[2021-09-21 07:37] mimol91 commented on #314
It seems that I had some typo. I've tried again and it's validating payload correctly. Sorry for confusion

[2021-09-21 07:37] #314 closed

[2021-09-22 09:57] fy894684862 opened #321 "common.servicefailure=Service error:NotAuthorizedOrNotFound. Authorization failed or requested resource not found.. http status code: 404."
My goal is to query the compute instances in each region and get the relevant information,such as cloud Tags and network releated info. my production OCI API account always get these errors when I request these OCI APIs: ListVnicAttachments/ociGetVCN/ListInstances/ociGetIP，but my dev environment works fine with the same code.
here is error msg:

[code]

here is code :

[code]

[2021-09-22 16:54] jodoglevy commented on #321
Hi @fy894684862 - The NotAuthorizedOrNotFound error indicates either the resource you are requesting does not exist, or you do not have permission to access it from the account whose credentials you are using. If you look in the OCI web console, do the resources you're trying to access with the failing SDK calls exist?

[2021-09-23 02:01] fy894684862 commented on #321
yeah, Because I only have API account and I do not have OCI web console permission,So can you help me figure out whether  this error caused by credentials  permission or others via Opc request id below:

[code]

[2021-09-23 16:56] jodoglevy commented on #321
@fy894684862 I think you'd want to reach out to OCI Support to check that. The OCI SDKs team does not have access to the OCI Compute service logs to look into the details of why you received that error

[2021-09-24 01:46] fy894684862 commented on #321
ok ,thanks jodoglevy

[2021-09-24 16:49] jodoglevy commented on #321
@fy894684862  given the above are you ok if I close this issue?

[2021-10-08 13:29] joaqquin89 opened #324 "extract secret content vault"
Guys

i have a big problem , because i want to extract the secret content (i have the secret in the vault oci) ... i am trying to use this api and this example https://docs.oracle.com/en-us/iaas/tools/go-sdk-examples/49.0.0/vault/GetSecret.go.html but that example only get the secret characteristics ... not the secret content

[2021-11-09 17:28] #321 closed

[2021-11-09 17:30] swkrkris commented on #321
@fy894684862 I am closing this Issue now.  If you are still facing the issue please reopen again.

[2021-11-12 18:35] harayuanwang opened #330 "RestoreAutonomousDatabase returns InvalidParameter"
Hi Folks,

I got {"code" : "InvalidParameter",  "message" : "Unable to process JSON input"} when I executed [the example](https://docs.cloud.oracle.com/en-us/iaas/tools/go-sdk-examples/latest/database/RestoreAutonomousDatabase.go.html).
The timestamp in the json request body seems invalid.
The request body after the marshling: `"timestamp": "2021-11-12T13:10:34.436873-05:00"`,
which supposed to be

[2021-11-16 19:45] jodoglevy commented on #330
@harayuanwang  this seems like an issue with the Database service not respecting the RFC3339Nano timestamp specification on this operation. I will route this to the Database team to take a look

[2021-11-18 22:05] jodoglevy commented on #330
@harayuanwang I talked to the Database team, they are working on a fix for this and expect it to be ready soon

[2021-11-19 22:40] harayuanwang commented on #330
@jodoglevy Thanks for the update. Is there an ETA or a pointer to know when the fix is ready?

[2021-11-20 18:02] jodoglevy commented on #330
@harayuanwang - this should be available by end of the month

[2021-12-03 09:39] moolen commented on #324
As far as i can tell the API is split into a two APIs: `Vault Secret Management` and `Vault Secret Retrieval`. This SDK splits it into two packages `vault` (for management) and `secrets` (for retrieval). Take a look [here](https://github.com/oracle/oci-go-sdk/blob/378239d6f32bd6bf2441c09fda48b10b33836bf5/secrets/secrets_client.go#L125), using `secrets.GetSecretBundle()` should work for your use-ca

[2021-12-03 09:47] alexdyas commented on #324
Interesting, I came across the same confusion using the Python SDK, took me a good while to figure it out.

[2021-12-03 16:16] jodoglevy commented on #324
Since we haven't heard back from the original issue reporter in over a month, and it seems like the answer has been provided by @moolen (thanks @moolen!), I'm going to close this issue. However, if this is not actually resolved, please feel free to reopen.

[2021-12-03 16:16] #324 closed

[2021-12-03 16:17] jodoglevy commented on #330
@harayuanwang  can you check if this issue is now resolved?

[2021-12-03 16:27] harayuanwang commented on #330
@jodoglevy the issue has been verified as resolved. Thanks for the help!

[2021-12-03 16:28] #330 closed

[2022-01-11 08:34] c0d3r-arnab opened #336 "List API call for object storage bucket objects does not return all values"
The list API call for object storage bucket objects does not return all the values mentioned in the structure. Attributes like `Size`, `Md5`, `TimeCreated` etc. are coming as null. Following is the log of the response that we received:
[code]

The CLI command for the list call returns all the data.
[code]

I have also noticed that the response structures of the GET and List API calls are different

[2022-01-11 16:54] jodoglevy commented on #336
@c0d3r-arnab  there is a `fields` parameter you need to set in the request, to say what additional fields you'd like returned by this API. Please use that parameter if you'd like size, md5, timeCreated, etc, included.

[2022-01-11 16:55] jodoglevy commented on #336
See https://github.com/oracle/oci-go-sdk/issues/123 for more info

[2022-01-12 06:21] c0d3r-arnab commented on #336
It worked for me. Thank you for the reference.

[2022-01-12 06:21] #336 closed

[2022-01-16 10:17] manokumk commented on #317
Public API docs have been updated. This issue can be closed now

[2022-01-16 13:40] bigdatasourav commented on #317
@pelliu CloudGuard APIs are working fine now. Thank you for your support.

[2022-01-16 13:40] #317 closed

[2022-01-25 17:36] mega-alex opened #339 "SDK retry panics after long times with same session"
After leaving the SDK running with a session for multiple days any API call will return this error

[code]
Also looks like the error string gets cut off there for some reason so the full stack trace isn't returned.

To reproduce this using SDK v53:
[code]

[2022-01-25 19:49] mega-alex commented on #339
Actually after doing some more digging, the same error occurred in about 172 minutes today (pod uptime)

[2022-01-25 19:54] ZiyaoQiao commented on #339
Hi @mega-alex we recently fixed this nil pointer issue. You can upgrade your go SDK version to v55.0.0+ and try again. Thanks for sharing this info!

[2022-01-25 20:06] mega-alex commented on #339
Great, I'll upgrade and verify!

[2022-02-14 18:51] auriben opened #343 "With latest version 57.0.0 Data Source status are not case-insensitive anymore"
Hi, we are having our TF code broken as we are getting the following error while validating the status of a Data Source, a VCN in this example

[code]
Documentation states that those values are case insensitive https://registry.terraform.io/providers/hashicorp/oci/latest/docs/data-sources/core_vcns which is not the case now

Can you please take a look to this issue, also please refer https://githu

[2022-02-14 18:54] ZiyaoQiao commented on #343
Thanks @auriben  we'll discuss with TF team to find a solution to this

[2022-02-15 15:01] auriben commented on #343
Refer https://github.com/terraform-providers/terraform-provider-oci/issues/1528 for the impact of this as well

[2022-02-15 23:20] ZiyaoQiao commented on #339
@mega-alex As we have resolved this issue and haven't heard back from you for a long time. I'm closing this issue. Feel free to reopen if you're having any issues. Thanks!

[2022-02-15 23:20] #339 closed

[2022-02-15 23:28] ZiyaoQiao commented on #343
Hi @auriben in version v58.0.0, we made the changes to perform case-insensitive enum value validation in go SDK. Terraform will release a new version soon to include this change. Please upgrade your terraform version after they release and try again? Thanks!

[2022-02-16 21:55] auriben commented on #343
Thank you @ZiyaoQiao for following up on this!

[2022-02-17 14:18] auriben commented on #343
I have pulled v4.64.0 of hashicorp/oci which contains SDK v58.0.0 and now I can confirmed this issue is fixed, thank you!

[2022-02-17 14:18] #343 closed

[2022-03-01 01:30] jotruon commented on #343
You should use Terraform provider version v4.62.0 or move up to v4.64.0 to avoid this error

[2022-03-14 23:38] ZiyaoQiao opened #348 "OCI Go SDK change of versioning schema"
On/after April 12, 2022, OCI Go SDK will adapt a new versioning schema.

- The breaking changes in service client APIs will no longer result in a major version bump (x+1.y.z relative to the last published version). Instead, we will bump the minor version of the SDK (x.y+1.z relative to the last published version).
- If there are no breaking changes in a release, we will bump the patch version of t

[2022-04-12 17:37] ZiyaoQiao commented on #348
Today we release OCI Go SDK v65.1.0 using this new schema - https://github.com/oracle/oci-go-sdk/releases/tag/v65.1.0
The breaking changes in this version are resulting in a minor version bump (x.y+1.z relative to the last published version) instead of a major version bump (x+1.y.z relative to the last published version).
Please let us know if you have any questions or concerns. Thanks!

[2022-05-03 12:56] eljasala opened #356 "Option to override the default logger"
Currently the only way to control logging in OCI Go SDK is to use the environment variables (OCI_GO_SDK_DEBUG, OCI_GO_SDK_LOG_OUTPUT_MODE, OCI_GO_SDK_LOG_FILE). This results in at least following limitations:
1) OCI Go SDK logging cannot be enabled in OCI Functions at least easily
2) The only way to customize logging would be to write things to file and follow the file(s) in the custom code or mai

[2022-05-03 17:02] ZiyaoQiao commented on #356
Thanks so much for sharing this. We'll discuss the solution for this

[2022-05-25 05:51] auriben opened #361 "Dynamic block on oci_load_balancer_rule_set result on plugin crash"
I'm trying to implement the following code using nested dynamic blocks:

[code]

but when I add the line
[code]
and action is different from REDIRECT I get the following error:

[code]

Is there any workaround to this, I have nested dynamic blocks in other resources like WAF and haven't faced this issue

Thanks

[2022-05-26 13:56] ParthaI opened #362 "Unable to listing out Autonomous Exadata Infrastructure resources"
Hi Team,
We are using the [List API](https://pkg.go.dev/github.com/oracle/oci-go-sdk/v44@v44.0.0/database#DatabaseClient.ListAutonomousExadataInfrastructures) for listing out the available Autonomous Exadata Infrastructure resources, the API does not return any data or error, even if the resources are available in console.

We would like to list the available resources in the console.

Thanks!

[2022-05-26 17:37] ZiyaoQiao commented on #362
@ParthaI Could you share your code snippet on how you're using this List API? Thanks!

[2022-05-27 13:07] ParthaI commented on #362
1. I don't know the API behavior or how it behaves, It does not throw any `AccessDenied` error while making CLI calls or Go API calls. I used the same User API keys as I am accessing the console. Using same access I am able to see the resources available in the console.
2. I had resources in `ap-hyderabad-1` region though it is costly resources I deleted those.
3. Do I need any other grants for ma

[2022-06-06 20:35] swkrkris commented on #356
The solution for this will be part of June 7 release

[2022-06-07 00:12] jodoglevy commented on #361
@auriben it looks like you're using the OCI Terraform provider, not the OCI Go SDK itself. Can you open an issue in the OCI Terraform Provider Github (https://github.com/oracle/terraform-provider-oci) and close this one?

[2022-06-07 00:17] jodoglevy commented on #362
@ParthaI as requested by @ZiyaoQiao , can you please share a code snippet which reproduces the issue?

Some other questions:
- Are you able to list other OCI resources from the same box, for the same region, and using the same credentials? What about for a different region?
- Are you able to list other OCI Database service resources from the same box, for the same region, and using the same creden

[2022-06-07 05:31] ParthaI commented on #362
Hi @jodoglevy. Hope you are doing well!

- Yes, I am able to list other OCI resources from the same box, for the same region, and using the same credentials, for other regions I am getting empty results if there are no resources available in the mentioned region. If I don't have appropriate grants then I am getting the AccessDenied/Forbidden error fo the resources.
- Yes, I am able to list other O

[2022-06-07 18:46] eljasala commented on #356
Thank you, it looks like SetSDKLogger was made public.
https://github.com/oracle/oci-go-sdk/commit/31171be112f8d49071c72e8c352d5e7a6a4b903c#diff-326549de57835812e50d36524254fb6770f448d3f521026f0b09fa97201306aaR58-R64

[2022-06-07 18:46] #356 closed

[2022-06-15 19:54] jodoglevy commented on #361
Closing this, since I haven't heard back from you in 9 days

[2022-06-15 19:54] #361 closed

[2022-07-26 06:21] bigdatasourav opened #371 "All fault domains details does not come for MySQL DB systems with High Availability"
We have configured MySQL DB systems for High Availability; hence, it is deployed under multi-fault domain architecture. But the below APIs do not provide details of all the fault domains. It only provides information about the preferred one.
https://pkg.go.dev/github.com/oracle/oci-go-sdk/v44@v44.0.0/mysql#DbSystemClient.ListDbSystems
https://pkg.go.dev/github.com/oracle/oci-go-sdk/v44@v44.0.0/mys

[2022-07-27 14:11] luk4z7 opened #373 "Why I can't add rule into a security list by sdk ? like security group"
I can add rule by interface into a security list, like egress or ingress, but by sdk I can't add a single rule into this security list, I need get the entire security list and make a append to push the new rule

[2022-07-27 19:31] KartikShrikantHegde commented on #371
Hi @bigdatasourav ,

Thanks for reporting the issue. We will ask the relevant team to take a look and provide an update.

[2022-07-28 00:07] #373 closed

[2022-08-04 21:33] dbhandiwadra opened #376 "Error: panicked while retrying operation. Panic was: runtime error: invalid memory address or nil pointer dereference"
Seeing this with terraform apply frequently
Error: panicked while retrying operation. Panic was: runtime error: invalid memory address or nil pointer dereference
Stack: goroutine 483 [running]:
github.com/oracle/oci-go-sdk/v65/common.Retry.func1.1()
	github.com/oracle/oci-go-sdk/v65@v65.15.0/common/retry.go:813 +0x7b
panic({0x4948000, 0x87c6640})
	runtime/panic.go:1038 +0x215
github.com/oracle/oci

[2022-08-04 21:54] #376 closed

[2022-08-04 21:58] dbhandiwadra commented on #376
Didnt see with terraform version Terraform v1.2.6.
 Terraform initialization
Initializing the backend...

Initializing provider plugins...
- Finding latest version of hashicorp/random...
- Finding latest version of hashicorp/oci...
- Finding latest version of hashicorp/null...
- Installing hashicorp/random v3.3.2...
- Installed hashicorp/random v3.3.2 (signed by HashiCorp)
- Installing hashicorp/o

[2022-08-26 05:19] vinayakshnd opened #380 "How to list block volumes using freeform tags as filter"
[ListVolume](https://docs.oracle.com/en-us/iaas/api/#/en/iaas/20160918/Volume/ListVolumes) does not take tags as input filter in request body. I want to get list of only volumes that have certain tags applied to them. I know that I can get list of all the volumes in my account first using this API and then filter them out at client side. But I want to avoid that client side. Is there any way to ju

[2022-09-07 05:24] bigdatasourav commented on #371
Hey @KartikShrikantHegde, Could you please provide an update regarding the above?

[2022-09-07 06:30] msays2000 opened #384 "cannot build on js/wasm, plan9/386, plan9/amd64, solaris/amd64"
Related issue on dependent package: https://github.com/gofrs/flock/issues/60

used in code: https://github.com/oracle/oci-go-sdk/blob/master/common/eventual_consistency.go#L96
can we use something else simpler...than this package

## github.com/gofrs/flock plan9/386
../../../../go/pkg/mod/github.com/gofrs/flock@v0.8.1/flock_unix.go:28:30: undefined: syscall.LOCK_EX
../../../../go/pkg/mod/github.co

[2022-09-07 14:37] KartikShrikantHegde commented on #371
Hi @bigdatasourav ,

Do you have a Customer Support Identifier (CSI) number that you can share with us? That would help us get traction fast.

Thanks.

[2022-09-14 15:39] KartikShrikantHegde commented on #384
Hi @msays2000,

Thanks for reporting the issue. Our team will take a look and get back to you.

[2022-09-15 12:41] jsled-at-oracle commented on #371
This is as designed.

The Availablity Domains and Fault Domains for a given region can be accessed through the [`ListAvailabilityDomains`](https://pkg.go.dev/github.com/oracle/oci-go-sdk/v44@v44.0.0/identity#IdentityClient.ListAvailabilityDomains) and [`ListFaultDomains`](https://pkg.go.dev/github.com/oracle/oci-go-sdk/v44@v44.0.0/identity#IdentityClient.ListFaultDomains) operations on the `identi

[2022-09-15 21:17] #371 closed

[2022-09-19 14:06] khushboo9024 opened #386 "Column delivery_policy does not populate data in ons `GetSubscription` api call"
https://pkg.go.dev/github.com/oracle/oci-go-sdk/v44@v44.0.0/ons#NotificationDataPlaneClient.GetSubscription

The above api call for `subscription` does not populate any data for column `delivery_policy` whereas the list call for  `subscription` populates data for  column `delivery_policy`.

Note -- OCI CLI gives the expected data for the subscription call and we do get value for column `delivery_p

[2022-09-21 09:05] aaps3579 opened #388 "unable to create IAM resources in secondary domain."
Is there any support in OCI SDK/REST API for creating iam resources(users, groups, policies) in the secondary domain ?
I have been trying to configure the [identity client](https://github.com/oracle/oci-go-sdk/blob/v65.21.0/identity/identity_client.go#L22) host field to the secondary domain IDCS url but got look up failed error.
[code]

[2022-09-21 17:04] KartikShrikantHegde commented on #386
Hi @khushboo9024,

Thanks for reporting the issue. Our team will take a look and get back to you.

[2022-09-21 17:06] KartikShrikantHegde commented on #388
Hi @aaps3579 ,

We will check with the Identity team and get back to you.

[2022-09-23 02:49] manojkgaddam commented on #388
Hi @aaps3579 secondary domains are not supported in OCI SDK yet. But you can use REST APIs for managing resources in those domains. API documentation is at https://docs.oracle.com/en/cloud/paas/iam-domains-rest-api/index.html.

You would use the IDCS GUID (idcs-xxxx) in the URLs this way: idcs-xxx.identity.oraclecloud.com/admin/v1/<resource>. For example, POST idcs-xxx.identity.oraclecloud.com/adm

[2022-09-26 05:29] swkrkris commented on #384
Hi @msays2000,

I am looking to see if there are other viable alternatives.
In the mean time can you please let us know how you are building.

[2022-09-27 14:37] aaps3579 commented on #388
Thanks for reply @manojkgaddam. I was able to create IAM resources using API with secondary domain's IDCS url.

[2022-09-27 14:37] #388 closed

[2022-10-11 16:12] swkrkris commented on #384
Hi @msays2000 , Did you get a chance to look into this ticket. Can you please let us know how you are building.

[2022-10-11 16:30] msays2000 commented on #384
hi @swkrkris **you may close this ticket as won't supported on above platforms** if needed, I am not blocked. the oci sdk compilation is failing due to the third party package that is used doesn't compile on those platforms.

you can build the cross compile the sdk to see the failures.

GOOS=target-OS GOARCH=target-architecture go build ...
example:
GOOS=plan9 GOARCH=amd64 go build ...
 failing co

[2022-10-12 20:08] #384 closed

[2022-10-12 20:08] swkrkris commented on #384
Closing this ticket

[2022-11-17 16:44] dbaasdev commented on #362
@ParthaI Autonomous Exadata Infrastructure has been migrated to 2 different resources - Cloud Exadata Infrastructure (CEI) and Cloud Autonomous VM Cluster (CAVM). This change was to decouple hardware (CEI) and VMs (CAVM) running on the hardware. With the split, we can enable users to create multiple clusters on the same hardware (multi-VM feature will be available soon).

The new resource hierarch